.App {
  display: flex;
  height: 100vh;
}

.Chats {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.ChatWindow {
  flex-grow: 1;
  position: relative;
}

.Chats__list {
  padding: 8px 7px;
  overflow: auto;
}
